body{
    background-image: url('img/todo.png');
    font-family: monospace;
    letter-spacing: 2px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading{
    font-family: Montserrat;
    color: white;
}
/* Remove bullets from unordered list*/
.no-bullets{
  list-style-type: none;
}
/* INPUT */
.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(24, 20, 20, 0.987);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  
  .login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #bdb8b8;
    font-size: 12px;
  }
  
  /* BUTTONS */
  .button{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn1{
    margin-right: 60px;
  }
.task{
    color: white;
    margin-top: 20px;
}
/* Completed task */
.completed label {
    text-decoration: line-through #BB3E03 4px;
    transition: all 1s;
  }
.task input{
    margin-right: 15px;
}  
.edit-btn{
    margin-left: 10px;
    font-size: 8px;
    padding: 8px 8px;
}